<script setup lang="ts">
import { RouterView } from "vue-router";
</script>

<template>
  <RouterLink to="/">
    <h1
      class="panel-heading bg-primary font-weight-bold"
      style="margin-top: 0px; border-radius: 0px"
    >
      Posts
    </h1>
  </RouterLink>
  <main class="h-100">
    <div class="panel-body">
      <RouterView />
    </div>
  </main>
  <div class="panel-footer">all rigths reserved</div>
</template>

<style scoped>
.full-height {
  height: 100vh;
}
</style>
