<template>
  <Transition>
    <div v-if="!loading && error">
      <h1>
        {{ error }}
      </h1>
    </div>
  </Transition>
  <Transition>
    <ul class="list-group">
      <li
        class="list-group-item comment"
        v-for="comment in comments"
        :key="comment.id"
      >
        <div>
          <h4>{{ comment.name }}</h4>
          <p>{{ comment.body }}</p>
        </div>
        <div class="comented-by">
          <div style="display: flex; flex-direction: row-reverse">
            comented by
          </div>
          <p class="font-weight-bold">
            {{ comment.email }}
          </p>
        </div>
      </li>
    </ul>
  </Transition>
</template>

<script lang="ts">
import type { Commenet as PostComment } from "@/types/post-type";
import { fetchData } from "@/utils/fetch";
import { defineComponent } from "vue";

export default defineComponent({
  name: "CommentsList",
  props: { postId: { type: Number, required: true } },
  data() {
    return { comments: [] as PostComment[], loading: true, error: undefined };
  },
  methods: {
    fetchComments(postId: number) {
      this.loading = true;
      let params = { postId: postId.toString() };
      fetchData<PostComment[]>("comments/", params).then((res) => {
        this.comments = res.data ? res.data : [];
        this.loading = res.loading;
      });
    },
  },
  mounted() {
    this.fetchComments(this.postId);
  },
});
</script>

<style>
.comment {
  display: flex;
  justify-content: space-between;
}
.comented-by {
  display: flex;
  flex-direction: column;
}
</style>
