<template>
  <div class="post">
    <div class="post-details">
      <h4>
        <RouterLink :to="'post/' + post.id">
          {{ post.title }}
        </RouterLink>
      </h4>
      <p>
        {{ post.body }}
      </p>
      <div style="display: flex; align-items: center">
        comments:
        <button class="custom-btn" name="triggerBtn" @click="toogleComments">
          <component :is="toogledIcon"></component>
        </button>
      </div>
    </div>
    <div class="create-by">
      <Transition>
        <div v-if="user">
          created by <br />
          <p class="font-weight-bold">
            {{ user.name }}
          </p>
        </div>
      </Transition>
    </div>
  </div>
  <Transition>
    <div class="my-8" v-if="toogledComments" name="comments-list">
      <CommentsList :postId="post.id"></CommentsList>
    </div>
  </Transition>
</template>

<script lang="ts">
import type { Post } from "@/types/post-type";
import { userStore } from "@/utils/store";
import { defineComponent, type PropType } from "vue";
import DownIcon from "@/assets/icons/DownIcon.vue";
import UpIcon from "@/assets/icons/UpIcon.vue";
import CommentsList from "@/components/CommentsList.vue";

export default defineComponent({
  name: "PostElement",
  props: { post: { type: Object as PropType<Post>, required: true } },
  setup() {
    return { store: userStore };
  },
  components: { CommentsList, DownIcon, UpIcon },
  data() {
    return { toogledComments: false };
  },
  computed: {
    user() {
      try {
        let user = this.store.data[this.post.userId];
        if (!user) return null;
        return user;
      } catch (exception: unknown) {
        console.log("Error finding user", exception);
      }
      return null;
    },
    toogledIcon() {
      return this.toogledComments ? UpIcon : DownIcon;
    },
  },
  methods: {
    toogleComments() {
      this.toogledComments = !this.toogledComments;
    },
  },
});
</script>

<style>
.post {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* flex-direction: column; */
}
.create-by {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
}
.post-details {
  flex: 5;
}
.font-weight-bold {
  font-weight: 600;
}
.custom-btn {
  background-color: transparent;
  border: none;
}
</style>
