<template>
  <Transition>
    <div v-if="loading">loading...</div>
  </Transition>
  <Transition>
    <div v-if="!loading && post">
      <h1>
        {{ post?.title }}
      </h1>
      <p>
        {{ post?.body }}
      </p>
      <CommentsList :post-id="post.id"></CommentsList>
    </div>
  </Transition>
  <Transition>
    <div v-if="!loading && error">
      <h1>
        {{ error }}
      </h1>
    </div>
  </Transition>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import type { Post } from "@/types/post-type";
import CommentsList from "@/components/CommentsList.vue";
import { postsStore } from "@/utils/store";
import { fetchData } from "@/utils/fetch";

export default defineComponent({
  setup() {
    return { store: postsStore };
  },
  data() {
    return {
      post: undefined as Post | undefined,
      loading: false,
      error: undefined as string | undefined,
    };
  },
  components: { CommentsList },
  methods: {
    fetchPost(postId: number) {
      this.loading = true;
      fetchData<Post>("posts/" + postId.toString()).then((res) => {
        if (res.error) this.$router.push({ name: "404" });
        this.post = res.data ? res.data : undefined;
        this.loading = false;
      });
    },
  },
  mounted() {
    const postId = parseInt(this.$route.params.id as string);
    if (!postId) {
      this.$router.push({ name: "404" });
    }
    if (postsStore.data.length > 0) {
      let post = postsStore.data.find((post) => post.id == postId);

      if (post) this.post = post;
      else this.$router.push({ name: "404" });
      this.loading = false;
    } else this.fetchPost(postId);
  },
});
</script>
