<template>
  <div>
    <div class="filter-container">
      user:
      <input
        class="filter-element"
        type="text"
        name="user"
        v-model="usernameFilter"
      />
      post:
      <input
        class="filter-element"
        type="text"
        name="post"
        v-model="postFilter"
      />
    </div>
    <Transition>
      <div v-if="store.loading" style="position: absolute">loading...</div>
    </Transition>
    <Transition>
      <div v-if="store.error">Something went wrong: {{ store.error }}</div>
    </Transition>
    <Transition>
      <div v-if="!store.loading && !store.error" class="post-container">
        <ul class="list-group">
          <li
            class="list-group-item"
            v-for="post in filteredPosts"
            :key="post.id"
          >
            <PostElement :post="post"></PostElement>
          </li>
        </ul>
      </div>
    </Transition>
  </div>
</template>

<script lang="ts">
import type { Post } from "@/types/post-type";
import { fetchData } from "@/utils/fetch";
import PostElement from "@/components/PostElement.vue";
import { defineComponent, Transition } from "vue";
import { postsStore, userStore } from "@/utils/store";
import type { User } from "@/types/user-type";
import { filterPosts, filterPostsByUserName } from "@/utils/filter";

export default defineComponent({
  name: "PostsView",
  setup() {
    const debounceCreator = () => {
      let timeout = 0;
      return function (fnc: () => void, delayMs: number) {
        clearTimeout(timeout);
        timeout = window.setTimeout(() => {
          fnc();
        }, delayMs || 500);
      };
    };
    return {
      debounce: debounceCreator(),
      userStore: userStore,
      store: postsStore,
    };
  },
  data() {
    return {
      usernameFilter: "",
      postFilter: "",
    };
  },
  components: { PostElement, Transition },
  computed: {
    filteredPosts(): Post[] {
      let filteredPosts = this.postFilter
        ? filterPosts(this.postFilter)
        : this.store.data;
      filteredPosts = this.usernameFilter
        ? filterPostsByUserName(this.usernameFilter, filteredPosts)
        : filteredPosts;

      return filteredPosts;
    },
  },
  mounted() {
    fetchData<Post[]>("posts").then((res) => {
      this.store.data = res.data ? res.data : [];
      this.store.loading = res.loading;
      if (res.error) this.store.error = res.error;
    });
    fetchData<User[]>("users").then((res) => {
      if (res.data)
        res.data.forEach((usr) => (this.userStore.data[usr.id] = usr));
      this.userStore.loading = res.loading;
      if (res.error) this.userStore.error = res.error;
    });
  },
});
</script>

<style>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.post-container {
  margin-top: 4px;
}
.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: max-content;
}
.filter-element {
  margin: 5px;
}
</style>
